:root {
    /* COLORS */
    --bg-color-primary: #ffffff;
    --bg-color-secondary: #f2f2f2;
    --color-primary: #676767;
    --color-secondary: #f2fbff;
    --color-tertiary: #aebec4;
    /* PADDING */
    --padding-small: 1.5rem 2rem;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-weight: 300;
    line-height: 1.6;
    background-color: var(--bg-color-primary);
    font-family: arial, sans-serif;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 3rem;
}

.header-item {
    color: var(--color-primary);
    font-size: 1.3rem;
}

.header-item:not(:last-child) {
    margin-right: 1.5rem;
}

.achor-link {
    color: inherit;
    text-decoration: none;
}


.achor-link:hover {
    text-decoration: underline;
}

.sing-in {
    padding: .7rem 1.2rem;
    color: var(--bg-color-primary);
    font-weight: bold;
    border: 1px solid #4285f4;
    border-radius: .2rem;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    cursor: default;
    text-decoration: none;
}



.app-logo {
    width: 100%;
    margin-right: -2.7rem;
    cursor: pointer;
}

.logo-section {
    text-align: center;
    margin-top: 9rem;
}

.google-logo {
    width: 20%;
}

.search-input {
    text-align: center;
    margin-top: 2rem;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    color: rgba(0,0,0,.87);
    font-size: 1.6rem;
    border: 1px solid #dfe1e5;
    border-radius: 2.4rem;
    padding: 1.2rem 4rem;
    background-color: transparent;
    width: 45%;
    margin: 0rem -3.2rem;
}

.search:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}
.search:focus {
    outline: none;
}

.search__icon {
    height: 2rem;
    width: 2rem;
    fill: #9aa0a6;
}


.btn {
    border: none;
    background-color: var(--bg-color-primary);
}

.btn:focus {
    outline: none;
}

.lucky-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.lucky-section--item {
    font-size: 1.4rem;
    color: #3c4043;
    padding: .3rem 1.5rem;
    background-color: #f8f9fa;
    border-radius: .5rem;
    line-height: 27px;
    min-width: 54px;
    border: 1px solid #f8f9fa;
}

.lucky-section--item:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f9fa,#f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    cursor: pointer;
}

.pad {
    margin-left: 2rem;
}

.languages {
    text-align: center;
    margin-top: 2.5rem;
}

.link {
    text-decoration: none;
    color: #1a0dab;
}

.link:hover {
    text-decoration: underline;
}

.link:active {
    color: #609;
}

.lang_list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.35rem;
}

.lang_list--item:not(:last-child) {
    margin-right: 1.3rem;
}

.footer {
    margin-top: 15.3rem;
    color: #70757a;
    background-color: var(--bg-color-secondary);
    border-top: 1px solid #dadce0;
    position: absolute;
    top: 60%;
    bottom: 0;
    width: 100%;
}

.footer_list {
    list-style: none;
    display: flex;
}

.nigeria {
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid #dadce0;
    height: 4rem;
}

.nigeria-text {
    padding: var(--padding-small);
    font-size: 1.5rem;
}

.ads {
    display: flex;
    justify-content: space-between;
    padding: var(--padding-small);
}

.footer_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.list-item > a {
    color: #70757a;
    text-decoration: none;
}
.list-item > a:hover {
    text-decoration: underline;
}

.list-item:not(:last-child) {
    margin-right: 2rem;
}